<!-- page.component.html -->

<div class="card" *ngFor="let article of listeArticles.slice(0, nbArticles)">
  <div class="card-body">
    <div class="inbox-widget">
      <div class="inbox-item">
        <div class="inbox-item-img">
          <img src="/app/assets/images/users/foyerr.jpg" class="rounded-circle" alt="Foyer Image">
        </div>
        <div class="inbox-item-details">
          <p class="inbox-item-text">Titre de l'article : {{ article.titre }}</p>
          <p class="inbox-item-text">Contenu de l'article : {{ article.contenu }}</p>
          <p class="inbox-item-text">Auteur : {{ article.auteur }}</p>
          <p class="inbox-item-text">Date : {{ article.date }}</p>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
