<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <!-- Champ de prénom -->
  <div class="form-group">
    <label for="name">position</label>
    <!-- Affichage des messages d'erreur pour le champ "firstName" -->
    <select  id="position" formControlName="position">
      <option type="text" value="haut"> haut  </option>
        <option type="text" value="bas"> bas</option>
        </select>
    <div *ngIf="userForm.get('position')?.hasError('required') && userForm.get('position')?.touched">
      position est obligatoire.
    </div>
  </div>
  <div class="form-group">
    <label for="description">description</label>
    <input type="text" id="description" formControlName="description">
    <!-- Affichage des messages d'erreur pour le champ "lastName" -->
    <div *ngIf="userForm.get('description')?.hasError('required') && userForm.get('description')?.touched">
      description est obligatoire.
    </div>
    <div *ngIf="userForm.get('description')?.hasError('minlength') && userForm.get('description')?.touched">
      description doit contenir au moins 3 caractères.
    </div>
  </div>
  
    <p>Coût de l'annonce : {{ cost }} $</p>

  <!-- Autres champs du formulaire et messages d'erreur correspondants -->

  <button type="submit" [disabled]="userForm.invalid">Ajouter produit</button>
</form>
